<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visi-Misi-dan-Tujuan</title>
    <link rel="icon" href="/assets/img/logo.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/Visi-misi.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <!-- NAVBAR -->
<div class="isiHeader">
    <nav>
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">
            <img src="/assets/img/logo.png" alt="Logo" class="logo-img"> 
            <div class="header-text">
                <span class="main-text">SDN 1 KALISAT</span> 
                <span class="sub-text">Kalisat - Jember</span> 
            </div>
        </label>
        <ul class="Content-nav">
            <li><a class="active" href="/index.html">Beranda</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Profil</a>
                <div class="dropdown-content">
                    <a href="/Views/sejarah.html">Sejarah</a>
                    <a href="/Views/Visi-misi.html">Visi dan Misi</a>
                    <a href="/Views/Struktur-Organisasi.html">Struktur Organisasi</a>
                </div>
            </li>                    
            <li><a href="#">Akademik</a></li>
            <li><a href="/Views/gallery.html">Gallery</a></li>
            <li><a href="/Views/ppdb.html">PPDB</a></li>
            <li><a href="/Views/kontak.html">Kontak</a></li>
        </ul>
    </nav>
</div>

    </header>
    <!-- Banner  -->
    <div class="banner">
        <img class="banner-jpg" src="/assets/img/bnn.jpeg" alt="Banner JPG">
    </div>

    <!-- Text Visi Misi -->
<div class="text-visimisi">
    <h1>Visi Misi</h1>
    <h3>Visi</h3>
    <p>Mewujudkan peserta didik yang berprestasi dan berkarakter yang 
        dilandasi imtaq serta menguasai imtek dan peduli terhadap lingkungan</p>
    <h3>Misi</h3>
    <p> Membangun etika dengan berpedoman pada IMTAQ yang berkesinambungan
        Menerapkan pembelajaran yang konstektual dan realistis
        Menerapkan pembelajaran yang aktif, kreatif, inovatif dan menyenangkan
        Menyelengarakan pembelajaran komputer terhadap siswa
        Menerapkan pembelajaran berbasis IT
        Melaksanakan penguatan karakter disetiap semester
        Melaksanakan pendidikan yang mengacu pada kepedulian terhadap lingkungan sekitar
        </p>
        <h3>Tujuan</h3>
        <p> Mewujudkan siswa yang unggul dalam lomba akademik (Olimpiade MIPA)
            Mewujudkan siswa unggul dalam lomba non akademik
            Mewujudkan siswa yang aktif dan kreatif
            Mewujudkan siswa terampil baca tulis Al-Quran
            Mewujudkan siswa rutin sholat wajib dan sunnah
            Mewujudkan siswa terbiasa sholat berjamaan
            Mewujudkan kepedulian warga sekolah dalam pemanfaatan teknologi informasi dan komunikasi
            Terbentuknya peserta didik yang memiliki wawasan luas, berempati, berkarakter, bernalar kritis, dan berkebhinekaan global
            Mewujudkan siswa yang mencintai budaya bangsa
            Mewujudkan siswa yang dapat melestarikan lingkungan
            </p>

</div>
 <!-- FOOTER -->
 <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Tentang Kami</h5>
                <p>SDN 1 Kalisat adalah sekolah dasar yang berkomitmen untuk memberikan pendidikan terbaik bagi anak-anak. Kami berfokus pada pengembangan karakter dan akademik siswa.</p>
            </div>
            <div class="col-md-4">
                <h5>Kontak</h5>
                <ul>
                    <li>Alamat: Jl. Kalisat No. 1, Jember</li>
                    <li>Telepon: (0331) 123456</li>
                    <li>Email: info@sdn1kalisat.sch.id</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Ikuti Kami</h5>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center">
            <p>&copy; 2024 SDN 1 Kalisat. All rights reserved.</p>
        </div>
    </div>
</footer>
</body>
</html>